@model Dev_Blog.Models.Comment
@using Dev_Blog.Utils

@if (Model.Deleted && !Model.AreAllChildrenDeleted) //We exclude comments that only contain deleted children
{
    <div class="comment p-3 mb-3">
        <div class="row">
            <em class="col">This comment was deleted</em>
        </div>
    </div>
}
else if (!Model.Deleted)
{
    <div class="comment p-3 mb-3" id="comment-@Model.ID">
        <div class="row">
            <div class="col-7">
                <b>@Html.DisplayNameFor(model => model.Name)</b> :
                @if (Model.Author != null)
                {
                    @Html.DisplayFor(model => model.Author.DisplayName) <i title="Verified" class="fas fa-check verified"></i>

                }
                else
                {
                    string validationHashcode = Math.Abs((Model.Name + Model.Email).GetStableHashCode()).ToString("D4");
                    validationHashcode = validationHashcode.Substring(validationHashcode.Length - 4);
                    @Html.DisplayFor(model => model.Name) <span class="small">#@(validationHashcode)</span>
                }
            </div>
            <div class="col-4 ml-auto text-right">
                <time class="timeago" datetime="@(Model.DateCreated.ToString("s") + "Z")" title="@Model.DateCreated.ToString("f")">@Model.DateCreated.ToString("f")</time>
            </div>
            @if (User.IsInRole("Admin") || Model.Post.Author.UserName == User.Identity.Name)
            {
                <div class="col-1">
                    <form asp-action="Delete" asp-controller="Comment" asp-route-id="@Model.ID">
                        <input hidden name="id" value="@Model.ID" />
                        <button type="submit">X</button>
                    </form>
                    <form asp-action="Ban" asp-controller="Admin">
                        <input hidden name="IpAddress" value="@Model.IpAddress" />
                        <input hidden name="Email" value="@Model.Email" />
                        <button type="submit">Ban</button>
                    </form>
                </div>
            }

        </div>
        <div class="row">
            <div class="col">
                <p class="comment-content">@Html.DisplayFor(model => model.Content)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary reply">Reply</button>
            </div>
        </div>
    </div>
}
