@model Dev_Blog.Models.Post
@using Dev_Blog.Utils;

<div class="preview">
    @if (Model.ThumbnailPath != null)
    {
        <div class="row">
            <div class="col">
                <div class="thumbnail-container">
                    <div>
                        <a asp-action="Details" asp-controller="Post" asp-route-postStub="@Model.Stub">
                            <img src="@Model.ThumbnailPath" alt="Thumbnail for article '@Model.Title'" title="@Model.Title" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <a class="col" asp-action="Details" asp-controller="Post" asp-route-postStub="@Model.Stub">
            <h2>@Model.Title</h2>
        </a>
    </div>
    <div class="row">
        <h5 class="col"><time datetime="@Model.DatePublished.Value.ToString("s")">@Model.DatePublished.Value.ToLongDateString()</time></h5>
    </div>
    <div class="row">
        <p class="col"><em>@Model.RawPreview(350)</em></p>
    </div>
    <div class="row">
        <p class="col">
            <a asp-action="Details" asp-controller="Post" asp-route-postStub="@Model.Stub" title="@Model.Title">
                <b>Read more</b>
            </a>
        </p>
    </div>
    @if (Model.Tags.Any())
    {
        <div class="row">
            <div class="tags col">
                @foreach (var tag in Model.Tags)
                {
                    <a asp-action="Index" asp-controller="Post" asp-route-tags="@tag.TagID" class="tag">#@tag.TagID</a>
                }
            </div>
        </div>
    }
    @*
        <div class="row">
            <div class="col">
                <p><b>Views: </b> @NumberFormat.GetShortenedNumber(Model.Views)</p>
            </div>
        </div>
    *@
</div>