@model Dev_Blog.Utils.PaginatedData<Dev_Blog.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container">
    @if (!Model.Data.Any())
    {
        <h2>No posts were found</h2>
    }
    else
    {
        @foreach (Dev_Blog.Models.Post post in Model.Data)
        {
            <partial name="_Preview" model="post" />
        }
    }
    <p>Page @Model.CurrentPage of @Model.TotalPages</p>
    <ul class="pagination">
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
            <a asp-area="" asp-action="" asp-route-currPage="1" class="page-link">First</a>
        </li>
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
            <a asp-area="" asp-action="" asp-route-currPage="@(Model.CurrentPage - 1)" class="page-link">Previous</a>
        </li>
        <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
            <a asp-area="" asp-action="" asp-route-currPage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
        </li>
        <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
            <a asp-area="" asp-action="" asp-route-currPage="@Model.TotalPages" class="page-link">Last</a>
        </li>
    </ul>
</section>